*{
    margin: 0 ;
    padding: 0;
}

body{
background-image: url('images/bg-desktop.svg');
background-color: hsl(257, 40%, 49%);
background-size: cover;
/* width: 1440px;
height: 100vh; */
}
header{
    margin: 20px 50px;
}
section
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px ;
 }
 
 .hero-img{
     position: relative;
     max-width: 650px;
    }
    .hero-img img{
        width: 100%;
    }
    .hero-content{
        position: relative;
        margin-right: 75px;
        max-width: 500px;
        /* display: flex; */
        /* justify-content: flex-end; */
        padding-right: 49px;
        /* margin-top: 114px; */}
       
        
        
 .title{
     line-height:1.5;
     color: white;
     font-weight:400;
     font-size: 2em;
     font-family: 'Poppins' ;
     margin-bottom: .5em;
    }

 .text{
     color: white;
     font-family: 'Poppins' ;
     font-weight: 300;
     line-height: 1.5;
 }   
 

 button {
    margin-top: 1em;
    justify-content: center;
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 0.9em 3em;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 300;
    box-shadow: 0px 0px 15px black;
    font-family: 'Poppins' ;

}

button:hover{

    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer{
    float: right;
    margin-right: 10em;
    display: inline-flex;
    flex-direction: row;
   
}

footer i {
    font-size: 1.2em;
    border-radius: 50% ;
    border: 0.5 white;
    color: white ;
    margin-right: 2em;
    /* background-color:; */
    border-radius: 50%;
    border: 1px solid white;
    padding: .5em;
}

footer i:hover{
    
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%) ;
}


    @media only screen and (max-width: 575px) {
            /* For mobile phones: */

                  /* For mobile phones: */
            body{
            /* width: 600px; */
                overflow-x: hidden;
            }
            section
            {
                position: relative;
                flex-direction: column;
                align-items: center;
                /* display: block; */
                justify-content: space-between; 
                
                    margin: 0px 20px ;
            }     
            .hero-content{
                    margin: 20px 20px;
                    max-width: 400px;
            }
            .hero-img{
                position: relative;
                max-width: 400px;
            }

            .hero-content{
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                padding: 0px 29px;
            }
            
            button {
                margin: 1.5em 0em;
            }
            footer{
                font-size: 1.2em;
                margin: 2em 5em;
               
           }
         

    }